
@-webkit-keyframes buttonScroll {
    from {botton: 20px;}
    to {bottom: 0px;
        color: green
    }
}



@keyframes buttonScroll {
    from {botton: 20px;}
    to {bottom: 0px;
        color: green
    }

}