// fonts
$primary: 'Poppins', sans-serif;
// colors
$black: #111418;
$pink: #e83e8c;
$darkPink: #e41e79;
$pinkGray: #c9bcbc;
$Gray:#4c4d4d; 
$lightGray: #6c757d;
$grayBackground: #212529;
$border: #343a40;
