@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import 'setup';
@import 'variables';

html {
    font-size: 62.5%;
}

body {
    background-color: $black;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

li {
    font-size: 12px;
    list-style: none;
    padding-right: 17px;
    a {
        text-decoration: none;
        color: white;
        font-family: $primary;

        
    }
}


header {
    height: 100vh;
    color: white;

    .nav {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
       width: 10%; 
       font-family: $primary;
    }
    
    nav {
        ul {
            display: flex;
        }
    }
    
    .button {
        border: 1px solid white ;
        border-radius: 16px;
        padding: 4px 12px;
        transition: all .3s;
    }

    .button:hover {
        color: $pink;
        background-color: white;
    }

    

    .link--animation:after {
        display: block;
        content: '';
        border-bottom: solid 2px white;
        transform: scaleX(0);
        transition: transform 250ms ease-in;
    }

    .link--animation:hover:after {
        transform: scaleX(1);
    }

}




