@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import 'setup';
@import 'variables';
@import 'animations';


html {
    font-size: 62.5%;
}

body {
    background-color: $black;
    font-family: $primary;
    color: white;
}

section {
    padding: 70px 0;
}

i {
    color: white;
}

h2 {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

li {
    font-size: 12px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: $primary;
}

header {
    height: 70vh;
    color: white;
    position: relative;

    .nav {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
       width: 10%; 
       font-family: $primary;
       margin: 0;
    }

    .logo--big {
        font-size: 3rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .header-links {
        i {
            font-size: 3rem;
        }

    }

    .header-links p {
        color: $pink;
    }

    ul {
        display: flex;
        padding-top: 7px;
    }
    
    li {
        padding-right: 17px;
    }
    
    .button {
        border: .175rem solid white ;
        border-radius: 16px;
        padding: 4px 12px;
        transition: color .6s, background-color .6s;
    }

    .button:hover {
        color: $pink;
        background-color: white;
    }
    
    //FIXME:
    // gray color isnt being applied

    .link--animation:after {
        display: block;
        content: '';
        color: $Gray;
        border-bottom: solid 2px white;
        margin-top: 7px;
        transform: scaleX(0);
        transition: transform 350ms ease-in-out;
    }

    .link--animation:hover:after {
        transform: scaleX(1.25);
    }

    .link-animation:hover {
        color: $Gray;
    }

    .header {
        margin-top: 70px;
        text-align: center;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

    .header-links {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }

    .octocat {
        width: 50px;
        height: auto;
        margin: 0 auto;
    }

    .scroll-down-arrow {
        position: absolute;
        bottom: 20px;
        text-align: center;
        width: 80%;
        animation: buttonScroll 1.35s;
        animation-iteration-count: infinite;
        opacity: .1;
        height: 30px;
    }
}

.bio {

    span {
        color: $pink;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        img {
            width: 45%;
        }
        
        div {
            width: 50%;
        }
        
        p {
            color: rgba(255,255,255,.5);
        }

        li {
            margin-top: 3px;
        }
    }

}

.skills {
    text-align: center;

    h2 {
        font-size: 2rem;
    }

    ul {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        li {
            width: calc(100% / 5);
            margin-bottom: 2rem;
        }
        i {
            font-size: 3rem;
        }
    }
}

.projects {
    background-color: $grayBackground;
    text-align: center;

    h2 {
        font-size: 2rem;
        &:after {
            display: block;
            content: '';
            border-bottom: solid 2px $pink;
            margin: 10px auto 0 auto;
            width: 5rem;
        }
    }
    //TODO: add display flex ul 
}

.contact {
    background-color: $grayBackground;
    text-align: center;
    h3 {
        font-size: 2rem;
        &:after {
            display: block;
            content: '';
            border-bottom: solid 2px $pink;
            margin: 10px auto 0 auto;
            width: 5rem;
        }
    }

    form {
        margin: 30px auto 0 auto;
        max-width: 600px;
    }

    input,
    textarea {
        background-color: $grayBackground;
        border: 2px solid $border;
        border-radius: .2rem;
        color: #ffffff; 
        padding: 8px;
    }

    input {
        width: calc(50% - 2px);
    }

    textarea {
        margin: 10px 0;
        display: block;
        width: 100%;
        resize: none;
    }
    
    button {
        background-color: $pink;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 16px;
        font-family: $primary;
        transition: background-color .5s;
    }

    button:hover {
        background-color: $darkPink;
    }
}

footer {
    padding: 10px 0;
    text-align: center;
}

// media queries 
@media (max-width: 940px) {

}

@media (max-width: 768px) {
    .bio {

        .wrapper {
            flex-direction: column;
            img {
                width: 65%;
                margin: 0 auto;
                margin: 0 auto 20px auto;
            }
            
            div {
                text-align: center;
                width: 100%;
            }
        }
    }
}

@media (max-width: 680px) {
//FIXME: align the header and the ul to the center

    header {
        .nav {
            flex-direction: column;
            align-items: center;
            ul {
                margin-top: 30px;
            }
        }
    }

    .skills {
        ul {
            li {
                width: calc(100% / 2);
                margin-bottom: 2rem;
            }
            i {
                font-size: 3rem;
            }
        }
    }
    
}

@media (max-width: 480px) {

}