@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes buttonScroll {
  from {
    botton: 20px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes buttonScroll {
  from {
    botton: 20px;
    opacity: .1;
  }
  to {
    bottom: 0px;
    opacity: .9;
  }
}

html {
  font-size: 62.5%;
}

body {
  background-color: #111418;
  font-family: "Poppins", sans-serif;
  color: white;
}

section {
  padding: 70px 0;
}

i {
  color: white;
}

h2 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

li {
  font-size: 12px;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}

header {
  height: 70vh;
  color: white;
  position: relative;
}

header .nav {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  width: 10%;
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 3rem;
}

header .logo--big {
  font-size: 4rem;
}

header .title {
  font-size: 2rem;
}

header a {
  font-size: 1.5rem;
}

header p {
  font-size: 1.7rem;
}

header .header-links i {
  font-size: 5rem;
}

header .header-links p {
  color: #e83e8c;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
}

header li {
  padding-right: 17px;
}

header .button {
  border: .175rem solid white;
  border-radius: 16px;
  padding: 4px 12px;
  -webkit-transition: color .6s, background-color .6s;
  transition: color .6s, background-color .6s;
}

header .button:hover {
  color: #e83e8c;
  background-color: white;
}

header .link--animation:after {
  display: block;
  content: '';
  color: #4c4d4d;
  border-bottom: solid 2px white;
  margin-top: 7px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

header .link--animation:hover:after {
  -webkit-transform: scaleX(1.25);
          transform: scaleX(1.25);
}

header .link-animation:hover {
  color: #4c4d4d;
}

header .header {
  margin-top: 120px;
  text-align: center;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header-links {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .octocat {
  width: 85px;
  height: auto;
  margin: 0 auto;
}

header .scroll-down-arrow {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 80%;
  -webkit-animation: buttonScroll 1.35s;
          animation: buttonScroll 1.35s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: .1;
  height: 30px;
}

.bio {
  font-size: 1.8rem;
}

.bio span {
  color: #e83e8c;
}

.bio .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bio .wrapper img {
  width: 45%;
}

.bio .wrapper div {
  width: 50%;
}

.bio .wrapper p {
  color: rgba(255, 255, 255, 0.5);
}

.bio .wrapper li {
  margin-top: 3px;
  font-size: 2rem;
}

.skills {
  text-align: center;
}

.skills h2 {
  font-size: 2rem;
}

.skills ul {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills ul li {
  width: calc(100% / 5);
  margin-bottom: 2rem;
}

.skills ul i {
  font-size: 3rem;
}

.projects {
  background-color: #212529;
  text-align: center;
}

.projects h2 {
  font-size: 3rem;
}

.projects h2:after {
  display: block;
  content: '';
  border-bottom: solid 2px #e83e8c;
  margin: 10px auto 0 auto;
  width: 5rem;
}

.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects ul li {
  width: 100%;
}

.projects ul img {
  width: 100%;
}

.projects a {
  font-size: 2rem;
}

.projects .projects-links {
  background-color: #e83e8c;
  color: #ffffff;
  padding: 3px 22px;
  border: none;
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  margin-right: 15px;
}

.projects .projects-links:hover {
  background-color: #e41e79;
}

.contact {
  background-color: #212529;
  text-align: center;
}

.contact h3 {
  font-size: 2rem;
}

.contact h3:after {
  display: block;
  content: '';
  border-bottom: solid 2px #e83e8c;
  margin: 10px auto 0 auto;
  width: 5rem;
}

.contact form {
  margin: 30px auto 0 auto;
  max-width: 600px;
}

.contact input,
.contact textarea {
  background-color: #212529;
  border: 2px solid #343a40;
  border-radius: .2rem;
  color: #ffffff;
  padding: 8px;
}

.contact input {
  width: calc(50% - 2px);
}

.contact textarea {
  margin: 10px 0;
  display: block;
  width: 100%;
  resize: none;
}

.contact button {
  background-color: #e83e8c;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.contact button:hover {
  background-color: #e41e79;
}

footer {
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 1080px) {
  .bio .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bio .wrapper img {
    width: 65%;
    margin: 0 auto;
    margin: 0 auto 20px auto;
  }
  .bio .wrapper div {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 680px) {
  header .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav ul {
    margin-top: 30px;
  }
  .skills ul li {
    width: calc(100% / 2);
    margin-bottom: 2rem;
  }
  .skills ul i {
    font-size: 3rem;
  }
}
